.site-inner {
    .container {
        padding: 2rem 0;
    }

    .breadcrumbs {
        margin-bottom: 1.5rem;
    }

    .header {
        margin-bottom: 2rem;
    }

    .tabsContainer {
        margin-bottom: 1.5rem;
    }
}